<section class="container-fluid" id="capabilities">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <h2 class="pb-5">Simple Design, Advanced Capabilities</h2>
                <p>Take control of your business with an app that makes booking and managing loads easier than ever. Operate more efficiently on your routes, on your terms.</p>
            </div>
            <div class="col-12 col-md-5 display">
                <img src="./assets/images/capability_1.png" title="Simple design, advanced capabilities" alt="Simple design, advanced capabilities">
                <img src="./assets/images/capability_2.png" title="Simple design, advanced capabilities" alt="Simple design, advanced capabilities">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="./assets/images/map-pin-user-fill.svg">
                <h3 class="pt-4 pb-4">Freight at your fingertips</h3>
                <p>No two companies are the same. Their suppliers are located in different parts of the world.</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="./assets/images/route-fill.svg">
                <h3 class="pt-4 pb-4">The KCharles for freight</h3>
                <p>KCharles technology has revolutionized the way people move. Now we’re doing the same for the freight industry.</p>
            </div>
        </div>
    </div>
</section>