<section class="container-fluid" id="banner"
        [ngStyle]="{ 'background-image': 'url(/assets/images/banner.png)'}"> 
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center">
                <p class="text-header">Find Your Load</p>
                <form class="search-form" [formGroup]="search" (ngSubmit)="searchResult()">
                    <div class="form-field">
                        <input type="text"
                            placeholder="Origin"
                            [formControl]="control"
                            [matAutocomplete]="auto">
                        <button mat-raised-button mat-mini-fab type="submit">
                            <mat-icon matSuffix>search</mat-icon>
                        </button>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let vegetable of filteredVegetables | async" 
                                        [value]="vegetable" (click)="select(vegetable)">
                                {{vegetable}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </form>
                <div class="arrive-table">
                    <p class="text-header-table">Latest Loads</p>
                    <hr>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ml-auto mr-auto" matSort>
                        
                        <ng-container matColumnDef="load_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>load_date</th>
                            <td mat-cell *matCellDef="let row"> {{row.load_date | date: 'MM/dd'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="origin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>origin</th>
                            <td mat-cell *matCellDef="let row"> {{row.origin.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="to">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>to</th>
                            <td mat-cell *matCellDef="let row">to</td>
                        </ng-container>

                        <ng-container matColumnDef="destination">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>destination</th>
                            <td mat-cell *matCellDef="let row"> {{row.destination.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="vehicle_size">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>vehicle_size</th>
                            <td mat-cell *matCellDef="let row"> {{row.vehicle_size.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="distance">
                            <th mat-header-cell *matHeaderCellDef>distance</th>
                            <td mat-cell *matCellDef="let row">{{ row.distance | number: '1.0-0'}} mi</td>
                        </ng-container>
                    
                        <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
