#about {
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
        font-weight: 600;
    }
}
@media screen and (max-width: 540px){
    #about {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}