<section class="container-fluid" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mt-3 pt-5 pb-5">About Us</h2>
                <p class="mb-5">If you looking a logistics company serving United Kingdom and Europe – now you found it! KCharles Haulage it is a haulage company with a total commitment to professionalism, development and customer satisfaction. Providing of high quality transport service is at the forefront of our company, with a qualified team of employees who are involved in providing a reliable, safely and timely services to our customers.</p>
            </div>
        </div>
    </div>
</section>