<section class="container-fluid" id="features"
        [ngStyle]="{ 'background-image': 'url(/assets/images/features.jpg)'}"> 
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="pb-5">Smarter Shipping With Advanced Features</h2>
                <p>Instantly expand your capacity, while supporting your operations through 24/7 customer service and automated support tools.</p>
            </div>
        </div>
    </div>
</section>