#advantages {
    padding-top: 6rem;
    padding-bottom: 2rem;
    background: #fafafa;
    h2 {
        max-width: 420px;
    }
    p {
        max-width: 1080px;
    }
    .row {
        h3 {
            font-size: 1.125rem !important;
            font-weight: 600 !important;
        }
        p {
            max-width: 280px;
        }
    }
    
}