<section class="container-fluid" id="advantages">
    <div class="container">
        <h2 class="mb-4">Why Should You Partner With Us</h2>
        <p class="mb-5">During this challenging time, Cargo King is committed to the safety and well-being of carriers and their drivers, who keep freight moving and essential supplies stocked.</p>
        <div class="row">
            <div class="col-12 col-md-4 mb-5">
                <img src="./assets/images/award-fill.svg">
                <h3 class="pt-4 pb-4">PROFESSIONAL</h3>
                <p>We carefully scrutinise your particular requirements.</p>
            </div>
            <div class="col-12 col-md-4 mb-5">
                <img src="./assets/images/global-fill.svg">
                <h3 class="pt-4 pb-4">OUR SERVICE</h3>
                <p>We’ve been solving logistics problems since 2009. </p>
            </div>
            <div class="d-none d-md-block col-md-4"></div>
            <div class="col-12 col-md-4 mb-5">
                <img src="./assets/images/map-pin-time-fill.svg">
                <h3 class="pt-4 pb-4">ON TIME</h3>
                <p>Underlined by our values, dedication to providing great customer service.</p>
            </div>
            <div class="col-12 col-md-4 mb-5">
                <img src="./assets/images/service-fill.svg">
                <h3 class="pt-4 pb-4">RELIABLE</h3>
                <p>We thrive on challenges and we put our heart and soul into everything we do</p>
            </div>
            <div class="d-none d-md-block col-md-4"></div>
        </div>
    </div>
</section>
